/*-----------------------------------------------BLOG STLYES-----------------------------------------------*/
#blog-section {
    > .container {
        & > .row {
            row-gap: 35px;
            justify-content: center;

            & > * {
                padding: 0 15px;
            }
        }
    }
}

.single-blog {
    &__img {
        margin-bottom: 20px;
        border-radius: 15px;
    }

    &__content {
        padding-left: 25px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: calc(100% + -25px);
            width: 30px;
            border: 1px solid rgb(81 156 91 / 25%);
            border-width: 0px 0px 1px 1px;
            border-radius: 0 0 0 5px;
        }

        @include xs {
            padding: 0 15px;
        }
    }

    &__title {
        text-transform: capitalize;
        margin-bottom: 18px;
        font-weight: 600;
        color: #47504c;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    &__author,
    &__date {
        text-transform: capitalize;
        font-weight: 300;
        color: var(--primary-clr);
        font-family: var(--font-secondary);
        font-size: 15px;

        @include xxs {
            font-size: 14px;
        }

        i {
            margin-right: 5px;
        }
    }

    &__txt {
        line-height: 28px;
        margin-bottom: 21px;
        color: #898989;
        font-weight: 400;

        @include lg {
            font-size: 15px;
        }
    }
}
