#cta-section {
    padding: 30px 0;
    background-image: url(../img/bg/deg-bg.jpg);
    background-repeat: repeat;
    background-size: 500px;
    position: relative;
    z-index: 1;

    @include xs {
        text-align: center;

        > .container > .row {
            row-gap: 25px;
        }
    }

    &::before {
        @include before;
        z-index: -1;
        opacity: 92%;
        @include gradient-secondary-x;
    }

    .btn-custom-1 {
        border: 2px solid #dfdfdf;
        line-height: 45px;

        @include xxs {
            line-height: 37px;
        }
    }
}

.cta-title {
    margin-bottom: 0;
    color: var(--white);
}

#subs-form {
    position: relative;

    .btn-custom-1 {
        padding: 0 20px;
        position: absolute;
        right: 0;
        top: 0;
        height: 45px;
        line-height: 1.8;
        font-size: 16px;
    }
}

#subs-mail {
    width: 100%;
    background: #dfdfdf;
    padding: 0px 20px;
    padding-right: 130px;
    border-radius: 10px;
    // transition: all 0.4s ease;
    color: #545454;
    margin-bottom: 0;
    height: 45px;
    border: none;

    &:focus {
        outline: 2px solid var(--secondary-clr);
    }
}
