/*-----------------------------------------------HERO STLYES-----------------------------------------------*/
#hero-section {
    padding: 120px 0;
    background-image: url(../img/bg/banner-bg-2.jpg);
    overflow: hidden;
    position: relative;
    background-color: #fafafa;

    > .container {
        &::before {
            @include before;
            width: 233px;
            height: 210%;
            background: url(../img/banner/banner-leaf.png) no-repeat;
            rotate: 195deg;
            transform-origin: center;
            filter: opacity(25%);
            top: -35px;
            left: -310px;
        }

        @include xl {
            &::before {
                content: none;
            }
        }
    }

    @include sm {
        padding: 60px 0;
    }

    @include xxs {
        padding: 30px 0;
    }
}
.hero-content {
    row-gap: 100px;
    height: 100%;
    margin-right: 50px;

    @include lg {
        row-gap: 50px;
        margin-right: 15px;
    }

    @include md {
        row-gap: 55px;
        margin-right: 0;
    }

    &-top {
        @include md {
            text-align: center;
        }
    }

    &-bottom {
        gap: 40px;

        @include md {
            justify-content: center;
        }

        @include xxs {
            gap: 25px;
        }
    }

    &__title {
        margin-bottom: 27px;
        font-family: "Titillium Web", sans-serif;
        color: #44504a;
        font-weight: 700;
        margin-top: -16px;

        @include lg {
            margin-bottom: 22px;
        }
    }

    &__txt {
        margin-bottom: 36px;
        font-size: 18px;

        @include lg {
            margin-bottom: 31px;
        }

        @include xxs {
            font-size: 16px;
        }
    }
}

.single-stat {
    display: flex;
    align-items: center;
    gap: 10px;

    @include lg {
        flex-direction: column;
    }

    @include md {
        flex-direction: row;
    }

    @include xs {
        flex-direction: column;
    }

    &__img {
        background: var(--secondary-clr);
        border-radius: 50%;
        width: 64px;
        height: 64px;
        object-fit: cover;
        max-width: none;
    }

    &__details {
        display: flex;
        flex-direction: column;
        @include lg {
            align-items: center;
        }
    }

    &__number {
        font-size: 35px;
        line-height: 45px;
        color: var(--primary-clr);
        font-weight: 500;
        margin-top: -10px;

        @include sm {
            font-size: 30px;
            line-height: 40px;
        }

        @include xxs {
            font-size: 25px;
            line-height: 35px;
        }
    }

    &__name {
        text-transform: uppercase;
        font-weight: 400;
        font-family: var(--font-secondary);
    }
}

.hero-btns {
    gap: 20px;

    @include md {
        justify-content: center;
    }

    @include xxs {
        flex-direction: column;
        gap: 15px;
    }
}

.hero-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: fit-content;

    @include lg {
        gap: 15px;
    }

    @include md {
        margin: 0 auto;
    }

    @include xxs {
        gap: 10px;
    }
}

.hero-img {
    border-radius: 50%;
    overflow: hidden;
    width: 270px;
    height: 270px;
    outline: 1px solid #fff;
    outline-offset: -10px;

    @include lg {
        width: 230px;
        height: 230px;
    }

    @include xs {
        width: 225px;
        height: 225px;
    }

    @include xs {
        width: 145px;
        height: 145px;
        outline-offset: -5px;
    }

    &--1 {
        border-bottom-right-radius: 0;
    }

    &--2 {
        border-bottom-left-radius: 0;
    }

    &--3 {
        border-top-right-radius: 0;
    }

    &--4 {
        border-top-left-radius: 0;
    }
}

.hero-badge {
    left: 0;
}
