@import "../main/mixins";
@import "../main/breakpoints";
/*-----------------------------------------------CONTACT STLYES-----------------------------------------------*/
#contact-info-section {
    @include sm {
        // padding: 60px 0;
    }
}

.contact-info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include md {
        margin-bottom: 30px;
    }
}

.single-info {
    display: flex;
    flex: auto;
    flex-direction: column;
    border: 1px solid #eaebea;
    padding: 20px;
    border-radius: 10px;
    background: #fdfdfd;
    font-size: 18px;
    gap: 5px;
    font-weight: 400;
    font-family: var(--font-secondary);

    &__icon {
        width: 45px;
        height: 45px;
        line-height: 47px;
        font-size: 16px;
        border-radius: 50%;
        text-align: center;
        @include gradient-primary-x;
        color: #dfdfdf;
        outline: 1px solid #dfdfdf;
        outline-offset: -5px;
        margin-bottom: 10px;
    }

    a {
        color: var(--black);
    }
}

.contact-info__img {
    object-fit: cover;

    @include lg {
        height: 100%;
    }
}

.contact-form-section {
    @include gradient-primary-x;
    padding: 25px;
    border-radius: 15px;

    @include sm {
        padding: 35px;
        margin-bottom: 60px;
    }

    @include xxs {
        padding: 20px 15px;
    }

    h2 {
        color: var(--white);
        margin-bottom: 30px;
        @include md {
            font-size: 35px;
        }

        @include sm {
            font-size: 32px;
        }

        @include xs {
            font-size: 30px;
        }

        @include xxs {
            font-size: 27px;
        }
    }
}

.contact-form {
    > .row {
        row-gap: 25px;

        @include xs {
            row-gap: 15px;
        }
    }
    input,
    textarea {
        width: 100%;
        padding: 12px 15px;
        border-radius: 5px;
        background: transparent;
        transition: all 0.5s ease;
        border: 1px solid rgb(255 255 255 / 29%);
        color: var(--white);

        &:focus {
            outline: none;
            border-color: var(--white);
        }

        &::placeholder {
            color: #ddd;
        }

        @include xs {
            padding: 10px 15px;
        }
    }

    .btn-custom-1 {
        background: #dfdfdf;
        color: var(--secondary-clr);
        line-height: normal;

        &:hover {
            color: var(--white);
        }
    }
}
