@import "../main/mixins";
.gallery-details {
    &__img {
        margin-bottom: 40px;
        border-radius: 10px;
        box-shadow: 0 10px 35px rgb(0 0 0 / 20%);
    }

    &__content {
        border: solid;
        border-image-source: linear-gradient(180deg, var(--secondary-clr), transparent);
        border-image-slice: 1;
        padding: 0 0px 0 25px;
        border-width: 0px 0px 0 2px;
    }

    &__title {
        margin-bottom: 15px;
        color: #5b6560;
    }

    &__txt {
        font-size: 18px;
        line-height: 32px;
        text-align: justify;
    }

    &__relevant-imgs {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
        gap: 20px;
        justify-content: center;

        img {
            width: 330px;
            border-radius: 10px;
        }
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    &-section {
        background-color: #fafafa;
        border: 1px solid #e8e9e8;
        border-radius: 15px;
        padding: 30px;

        &__title {
            border-bottom: 1px solid;
            border-image: linear-gradient(to right, var(--primary-clr), var(--secondary-clr));
            border-image-slice: 1;
            width: fit-content;
            padding-bottom: 15px;
            margin-bottom: 25px;
            color: #5a6560;
        }

        &__list {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: 0;

            li {
                border-bottom: 1px solid rgb(193 193 193 / 44%);
                padding-bottom: 15px;

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }

                a {
                    color: #606060;
                    line-height: 28px;
                    position: relative;
                    padding-left: 20px;
                    display: inline-block;
                    text-transform: capitalize;

                    &:hover {
                        color: var(--primary-clr);
                    }

                    &::before {
                        @include before;
                        @include gradient-primary-x;
                        top: 8px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                }
            }
        }

        &--news-categories {
            li a {
                display: flex;
                justify-content: space-between;
            }
        }

        &--searchable-keyword {
            .sidebar-section__list {
                flex-direction: row;
                flex-wrap: wrap;

                li {
                    border-bottom: none;
                    margin-bottom: 0;

                    a {
                        border: 1px solid rgb(231 232 231);
                        padding: 3px 10px;
                        border-radius: 5px;
                        z-index: 1;

                        &::before {
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            z-index: -1;
                            top: 0;
                            opacity: 0;
                            transition: var(--transition);
                        }

                        &:hover {
                            color: var(--white);
                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.search-form {
    position: relative;
}

input#search {
    width: 100%;
    border: 1px solid var(--primary-clr);
    border-radius: 10px;
    padding: 15px;

    &:focus {
        outline: 2px solid var(--secondary-clr);
    }
}

.search-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    translate: 0 -50%;
    padding: 0;
    width: 47px;
    height: 47px;
    border-radius: 8px;
    color: var(--white);
    @include gradient-primary-x;
}
