@import "../main/mixins";
@import "../main/breakpoints";
/*-----------------------------------------------GALLERY DETAILS STLYES-----------------------------------------------*/
.section-spacing {
    overflow: hidden;
}

.gallery-details {
    &__img {
        margin-bottom: 40px;
        border-radius: 10px;
        box-shadow: 0 10px 35px rgb(0 0 0 / 20%);
        width: 100%;
    }

    &__content {
        border: solid;
        border-image-source: linear-gradient(180deg, var(--secondary-clr), transparent);
        border-image-slice: 1;
        padding: 0 0px 0 25px;
        border-width: 0px 0px 0 2px;

        @include xs {
            padding: 0 0 0 15px;
            border-width: 0px 0px 0 1px;
        }
    }

    &__title {
        margin-bottom: 15px;
        color: #5b6560;
        font-weight: 600;
    }

    &__txt {
        font-size: 16px;
        line-height: 32px;
        text-align: justify;

        @include xxs {
            font-size: 14px;
        }
    }

    span.highlighted-txt {
        margin: 15px -10px;
    }

    &__relevant-imgs {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 15px;
        gap: 20px;
        justify-content: center;

        img {
            width: 330px;
            border-radius: 10px;

            @include lg {
                width: 280px;
            }
        }
    }
}
