@import "../main/breakpoints";
@import "../main/mixins";
/*-----------------------------------------------INDEX-3 PAGE STLYES-----------------------------------------------*/
.sticky {
    @include md {
        padding: 0;
    }
}
header {
    background: linear-gradient(90deg, #519b5b, #3e7c4d);
    padding: 30px 0 0;

    @include xs {
        padding: 0;
    }

    > .container {
        background: var(--white);
        padding: 0 12px;
        border-radius: 15px;

        @include md {
            padding: 10px 12px;
        }

        @include xs {
            border-radius: 0;
        }
    }
}

#hero-section {
    @include gradient-primary-x;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 800px;
        height: 100%;
        background: url(../img/hero/banner-img-3.png) no-repeat 255px 100%;
        background-size: 800px 580px;

        @include lg {
            width: 680px;
            background-size: 750px 580px;
        }

        @include md {
            background: url(../img/hero/banner-img-3.png) no-repeat 0 100%;
            background-size: 100%;
            opacity: 0.5;
            filter: blur(3.5px);
        }
    }

    > .container::before {
        content: none;
    }
}

.hero-content {
    &__title {
        color: var(--white);
    }

    &__txt {
        color: var(--white);
        margin-right: 150px;

        @include md {
            margin-right: 0;
        }
    }

    &-bottom {
        .single-stat {
            gap: 15px;
            flex-direction: row;

            @include sm {
                flex-direction: column;
            }

            &__img {
                background: #dfdfdf;
                background-clip: content-box;
                width: 70px;
                height: 70px;
                padding: 10px;
                border: 1px solid #dfdfdf;
            }

            &__number {
                color: var(--white);
            }

            &__name {
                color: #dfdfdf;
            }
        }
    }
}

.hero-btns {
    .btn-custom-1 {
        border: 2px solid var(--white);
        line-height: 45px;

        @include xxs {
            line-height: 36px;
        }

        &:hover {
            color: var(--secondary-clr);
            background: var(--white);

            &::before {
                content: none;
            }
        }
    }

    .btn-custom-2 {
        border: 2px solid #fff;
        line-height: 45px;

        @include xxs {
            line-height: 36px;
        }

        &::before {
            border-radius: 8px;
        }
    }
}
