.btn-custom-1 {
    display: inline-block;
    text-decoration: none;
    @include gradient-primary-x;
    color: var(--white);
    height: 55px;
    padding: 0 32px;
    line-height: 57px;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    transition: var(--transition);
    z-index: 1;
    text-transform: capitalize;
    border: none;

    &::before {
        content: "";
        @include gradient-secondary-x;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        z-index: -1;
        opacity: 0;
        transition: var(--transition);
    }

    &:hover {
        color: var(--white);
        &::before {
            opacity: 1;
        }
    }

    i {
        margin-left: 5px;
    }

    @include lg {
        font-size: 16px;
        padding: 0 24px;
        height: 50px;
        line-height: 52px;
    }

    @include xxs {
        padding: 0 20px;
        height: 40px;
        line-height: 42px;
    }
}

.btn-custom-2 {
    padding: 0 32px;
    border: 2px solid var(--secondary-clr);
    height: 55px;
    display: inline-block;
    line-height: 53px;
    text-transform: capitalize;
    color: var(--secondary-clr);
    font-size: 20px;
    position: relative;
    z-index: 1;
    background: linear-gradient(white, white), linear-gradient(to bottom right, #2f6342, #4f9859);
    border-radius: 10px;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: solid 2px transparent;

    i {
        margin-left: 5px;
    }

    &::before {
        border-radius: 10px;
        z-index: -1;
        opacity: 0;
        transition: var(--transition);
        @include before;
        border-radius: 6px;
        @include gradient-secondary-x;
    }

    &:hover {
        color: var(--white);

        &::before {
            opacity: 1;
        }
    }

    @include lg {
        font-size: 16px;
        padding: 0 24px;
        height: 50px;
        line-height: 48px;
    }

    @include xxs {
        padding: 0 20px;
        height: 40px;
        line-height: 38px;
    }
}

.inner-page-heading {
    padding: 70px 0;
    @include gradient-primary-x;
    color: var(--white);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 380px;
        background: url(../img/hero/banner-img-3.png) no-repeat 110px 100%;
        background-size: 100%;
        transform: scaleX(-1);
        filter: opacity(0.5);
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 440px;
        background: url(../img/hero/banner-img-3.png) no-repeat 0 100%;
        background-size: 100%;
        filter: opacity(0.7);
    }

    &__title {
        border-bottom: 1px dashed #dfdfdf;
        width: fit-content;
        margin: auto;
        padding: 0 50px 20px;
        margin-bottom: 30px;
        font-size: 40px;
        text-transform: capitalize;
    }

    &__breadcrumb {
        list-style-position: inside;
        display: flex;
        gap: 20px;
        border: 1px solid var(--white);
        width: fit-content;
        margin: 0 auto;
        border-radius: 25px;
        padding: 8px 20px;
        text-transform: capitalize;
        list-style-type: disclosure-closed;

        a {
            color: var(--white);
        }
    }
}
