body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background: var(--white);
}

img {
    max-width: 100%;
}

a {
    transition: var(--transition);
    text-decoration: none;
}
.bg-defaults {
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}
