:root {
    --primary-clr: #519c5b;
    --secondary-clr: #2b5c3f;
    --white: #fff;
    --black: #000;

    /* --- Fonts --- */
    --font-primary: "Roboto", sans-serif;
    --fs-xl: 70px;

    /* --- --- */
    --transition: 0.4s ease;
}

@include xl {
    :root {
        --fs-xl: 65px;
    }
}

@include lg {
    :root {
        --fs-xl: 55px;
    }
}

@include md {
    :root {
        --fs-xl: 50px;
    }
}

@include sm {
    :root {
        --fs-xl: 40px;
    }
}

@include xs {
    :root {
        --fs-xl: 38px;
    }
}

@include xxs {
    :root {
        --fs-xl: 30px;
    }
}
